<div class="jumbotron jumbotron-fluid">
<div class="container-fluid">
  <h1 class="text-center">
    About Us
  </h1>
  <p>
    Many of you know the challenge of acquiring tools and equipment. Once you purchase a
    tool, you have to remember where you stored it or who borrowed it. Depending on the
    item, you also have to cover the cost of maintaining it in good working condition. Or you
    may be hesitant to invest in a tool that you may need only once. And sometimes you find
    that you just don’t have the tool you need right in the middle of a job.
  </p>
  <p>
  To avoid these frustrations, we decided to get together with some friends, coworkers, and
  college classmates to create a community-owned tool library and makerspace to assist
  anyone with their personal and home improvement projects. A tool library loans
  specialized tools to community members, and the makerspace is a dedicated location
  where members come to transform their creativity into something tangible. These
  collaborative and educational centers will provide access to quality tools and equipment.
  We hope to incorporate a full wood shop, a metal working shop, and welding stations
  into our makerspace. We plan to complement the makerspace with regular workshops
  and instructional videos to help expand members’ skills and abilities.
  </p>
  <p>
  Through the dedication of our volunteers, a clear mission, grounded principles, and the
  support of our communities, the Doohickey Co-op is positioned to set a new standard for
  community-owned tool libraries and makerspaces.
  </p>
</div>
</div>