<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="text-center">Why Buy When You Can Doohickey?</h1>
    <p>
      The Doohickey Co-op is a convenient, innovative, community-owned resource created to
      facilitate the sharing of hand and power tools for personal use and to provide a
      collaborative workspace to help members bring their ideas to life.
    </p>
    <p>
      Through the dedication of our volunteers, a clear mission, grounded values, and the
      vision of our directors and advisors, the Doohickey Co-op is positioned to set a new
      standard for community-owned tool libraries and makerspaces.
    </p>
  </div>
<hr>
  <div class="container-fluid">
    <h3 class="text-center">Stay Informed About the Co-op</h3>
    <p>
      Complete the below form to receive our bi-weekly newsletter containing articles,
      meetings, and other important news regarding the co-op.
    </p>
    <div class="container">
      <%= render 'email_subscription_form' %>
    </div>
    </div>
  </div>
</div>